:root{
    --body-bg: #120640;/*#170d2b; */
    --main-bg: #110752;/*#382f74 #2C1952;*/ 
    --color1: #B150F2;/*95CDD2 #8487BF;*/
    --color2: #514BF2; /* #A6A6A6*/
    --color3: #F2784B; /* #00010D*/
    --color4: #95CDD2;
    --color5: #8581eb;
}

.main{
    width:100%;
    min-width: 0;
}

/*
 *  menu styles
 */

.dropdown{ 
    display: none;
}

/*
 *  hamburger button
 */

.ham{
    display: block;
    padding: 2rem;
}

.ham:hover{
    color: var(--color5);
}

/*
 * for drop-down menu
 */

.drop{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    position:absolute;
    align-items: center;
    justify-content: center;
    background-color: var(--main-bg);
    margin: 0;
    padding: 2rem 0;
    gap: 2rem;
    top: 7.41rem;
    left: 0;
}
