:root{
    --main-bg: #36175E;
    --color5: #8581eb;
}

.main{
    width:100%;
    min-width: 0;
}

/*
 *  menu styles
 */

.dropdown{ 
    display: none;
}

/*
 *  hamburger button
 */

.ham{
    display: block;
    padding: 2rem;
}

.ham:hover{
    color: var(--color5);
}

/*
 * for drop-down menu
 */

.drop{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    position:absolute;
    align-items: center;
    justify-content: center;
    background-color: var(--main-bg);
    margin: 0;
    padding: 2rem 0;
    gap: 2rem;
    top: 7.41rem;
    left: 0;
}
