:root{
    --body-bg: #120640;/*#170d2b; */
    --main-bg: #110752;/*#382f74 #2C1952;*/ 
    --color1: #B150F2;/*95CDD2 #8487BF;*/
    --color2: #514BF2; /* #A6A6A6*/
    --color3: #F2784B; /* #00010D*/
    --color4: #95CDD2;
}

body{
    background-color: var(--body-bg);
    font-family: 'Roboto Mono', monospace;
    color: var(--color1);
}

.main{
    height: 437.5rem;
    background-color: var(--main-bg);
    text-align: center;
    margin: auto;
    width:58%;
    min-width: 750px;
    max-width: 1200px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

a{
    text-decoration: none;
    color: inherit;
    font-weight: 700;
}

a:hover{
    color: var(--color4);
}

li{
    list-style: none;
}

.button{
    padding: 1rem;
    background: var(--color4);
    border-radius: 0.5rem;
    color: var(--body-bg);
}

.button:hover, .button:focus{
    background-color: #80b3b8;
}

.button a:hover, .button a:focus{
    color: inherit;
}

/*
 * Menu styles
 */

.menu{
    border-bottom: 0.005rem solid var(--color4);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu a i{
    margin: 1.5rem;
    color: var(--main-bg);
    background-color: var(--color1);
    padding: 0.7rem 1rem;
}

.menu nav ul{
    gap: 2rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: auto 2rem;
}

.menu nav ul li a{
    display:block;
    font-size: 1.1rem;
}

/*
 *  footer styles
 */

.footer{
    background: inherit;
    height: 11.25rem;
}

.footer img{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    margin: 1rem;
}

.connections{
    display: flex;
    gap: 2rem;
    justify-content: center;
}


/*
 *  info styles
 */

.info{
     height: 420.25rem;
 }

/*     
 *  section styles
 */

.info section:nth-child(2n){
    background-color: var(--color3);
    color: var(--body-bg)
}

/*
 *  sr-only
 */

 .sr-only{
     position: absolute;
     margin: -1px;
     padding: 0;
     overflow: hidden;
     height: 1px;
     width: 1px;
     clip: (0,0,0,0);
     border: 0;
 }