body{
    background-color: #170d2b; 
    font-family: 'Roboto Mono', monospace;
    color: #95CDD2;
}

.main{
    height: 437.5rem;
    background-color: #2C1952;
    text-align: center;
    margin: auto;
    width:58%;
    min-width: 650px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

a{
    text-decoration: none;
    color: inherit;
}

/*
 * Menu styles
 */

.menu{
    border-bottom: 0.005rem solid #95CDD2;
}

.menu img{
    float:left;
    width: 4rem;
    height: 4rem;
    margin: 1rem;
}

.menu a{
    float:right;
    margin: 2.5rem 2rem;
}

.menu h1{
    float:left;
}

/*
 *  footer styles
 */

.footer{
    background: inherit;
    border-top: 0.005rem solid #95CDD2;
    border-bottom: none;
    height: 100px;
    
}

/*
 *  info styles
 */

 .info{
     height: 425.25rem;
 }