@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@900&display=swap'); /* font-family: 'Work Sans', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

:root{
    --body-bg: #25064D;
    --main-bg: #36175E;
    --color1: #9768D1;
    --color2: #7B52AB;
    --color3: #553285;
    --color4: #95CDD2;
}

body{
    background-color: var(--body-bg);
    font-family: 'Roboto Mono', monospace;
    color: var(--color1);
}

.main{
    height:auto;
    background-color: var(--main-bg);
    text-align: center;
    margin: auto;
    width:58%;
    min-width: 750px;
    max-width: 1200px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

a{
    text-decoration: none;
    color: inherit;
    font-weight: 700;
}

a:hover{
    color: var(--color4);
}

li{
    list-style: none;
}

.button{
    padding: 1rem;
    background: var(--color4);
    border-radius: 0.5rem;
    color: var(--body-bg);
}

.button:hover, .button:focus{
    background-color: #80b3b8;
    color: var(--main-bg);
}

.gradient{
    height: .2rem;
}

.c1{
    background: linear-gradient(90deg, var(--color1) 0%, var(--color2) 100%);
}

.c2{
    background: linear-gradient(270deg, var(--color1) 0%, var(--color2) 100%);
}

.hide{
    display: none;
}


/*
 * Menu styles
 */

.menu{
    border-bottom: 0.005rem solid var(--color4);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu a i{
    margin: 1.5rem;
    color: var(--main-bg);
    background-color: var(--color1);
    padding: 0.7rem 1rem;
}

.dropdown{
    gap: 2rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: auto 2rem;
}

.menu nav ul li a{
    display:block;
    font-size: 1.1rem;
}

/*
 *  footer styles
 */

.footer{
    background: inherit;
    height: fit-content;
    padding-bottom: 1rem;
}

.connections{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.details p{
    margin: 0.5rem 0.5rem 0 0.5rem;
}

.details a p{
    display: inline-block;
    height: 1rem;
    margin-bottom: 0.5rem;
}

.details small{
    display: block;
}
/*
 *  info styles
 */

.info{
    height: auto;
 }

/*     
 *  section styles
 */

.info section h2, #intro span{
    font-family: 'Work Sans', sans-serif;
    font-size: 2.1rem;
}

.info .diffcolor{
    background-color: var(--color3);
    color: var(--body-bg);
}

.info p{
    font-size: 1.2rem;
}

/*  
 *  intro styles
 */

#intro{
    text-align: left;
    padding: 3rem 2rem 0 2rem;
}

#intro span{
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

/*  
 *  projects styles
 */

#projects{
    padding: 2rem 1rem 3rem 1rem;
}

.proj-div{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.proj-div div{
    background-color: var(--body-bg);
    color: var(--color1);
    padding: 2rem;
    border-radius: 5%;
    width: 15rem;
    position: relative;
}

.proj-div p{
    color: #c180ec;
}

.proj-div div div{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin:0;
    padding: 0 0 0.5rem ;
}

/*  
 *  courses styles
 */

#courses{
    padding: 2rem 2rem 3rem 2rem;
}

.course{
    margin: 2rem auto;
    background-color: var(--color1);
    color: var(--main-bg);
    border-radius: 10px;
    padding: 0.1rem;
}

.course h3{
    margin: 0.5rem;
}

.course p{
    margin: 1rem 0 0.5rem 0;
}

.course i{
    float:right;
    margin: 1rem;
}

/*  
 *  Contact styles
 */

#contact{
    padding: 2rem 2rem 3rem 2rem;
    line-height: 2;
}

#contact h2{
    margin: 0;
}



/*
 * about-styles
 */

#About h1{
    font-size: 2.1rem;
    font-family: 'Work Sans', sans-serif;
    margin: 3rem;
}

.about-me{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.about-me img{
    border-radius: 50%;
    height: 17rem;
    width: 17rem;
    margin: 3rem;
}

.about-me section{
    font-size: 1.5em;
    display: inline-block;
    width: 50%;
    padding: 1.5rem;
    text-align: left;
}

/*
 *  sr-only
 */

.sr-only{
    position: absolute;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    height: 1px;
    width: 1px;
    clip: (0,0,0,0);
    border: 0;
}

/*for tiny screens*/

@media (max-width: 280px) {
    #projects{
        padding:0;
    }

    .proj-div div{
        border-radius: 0;
    }
}

/* about-me page responsive stuff*/

@media (max-width: 1489px) {
    .about-me img{
        width: 12rem;
        height: 12rem;
        margin:1rem;
    }

    .about-me section{
        width: 80%;
    }
}